Live 3 - Lendo Arquivo

In [2]:
import pandas as pd

In [5]:
df_1 = pd.read_csv('func_dep_live3.csv', sep=';')
df_1.head(10)

,cd_func,nm_func,dt_ingso,area_cmnto,dt_conc,cd_uor,nm_uor_rdz
0,F236548,Sra. Laura Silva,2021-06-03,Ciências Biológicas,2015-10-14,55825,DIREC-CLI. VAR. PF
1,F236549,Henrique Ramos,2020-06-28,Engenharias,2019-03-03,55825,DIREC-CLI. VAR. PF
2,F236550,Marina Lopes,2015-12-08,Ciências da Saúde,2009-10-08,55825,DIREC-CLI. VAR. PF
3,F236551,Dra. Laura Dias,2019-03-20,Ciências Biológicas,2017-12-07,55825,DIREC-CLI. VAR. PF
4,F236552,Pietra Aragão,2022-11-06,Ciências Sociais Aplicadas,2014-07-01,55825,DIREC-CLI. VAR. PF
5,F236553,Lucas Gabriel Araújo,2015-12-15,Engenharias,2012-03-25,55825,DIREC-CLI. VAR. PF
6,F236554,Vitor da Cunha,2021-05-02,Ciências da Saúde,2010-01-01,55825,DIREC-CLI. VAR. PF
7,F236555,Samuel Barros,2014-12-31,Engenharias,2010-12-28,55825,DIREC-CLI. VAR. PF
8,F236556,Fernanda Teixeira,2023-07-03,Ciências Humanas,2014-03-19,55825,DIREC-CLI. VAR. PF
9,F236557,Vinicius Nogueira,2020-01-23,Ciências Humanas,2010-11-08,55825,DIREC-CLI. VAR. PF

In [6]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4460 entries, 0 to 4459
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cd_func     4460 non-null   object
 1   nm_func     4460 non-null   object
 2   dt_ingso    4460 non-null   object
 3   area_cmnto  4460 non-null   object
 4   dt_conc     4460 non-null   object
 5   cd_uor      4436 non-null   object
 6   nm_uor_rdz  4459 non-null   object
dtypes: object(7)
memory usage: 244.0+ KB

In [17]:
func_dep = df_1.dropna(subset=['cd_uor', 'nm_uor_rdz']).reset_index(drop=True)
func_dep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4435 entries, 0 to 4434
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cd_func     4435 non-null   object
 1   nm_func     4435 non-null   object
 2   dt_ingso    4435 non-null   object
 3   area_cmnto  4435 non-null   object
 4   dt_conc     4435 non-null   object
 5   cd_uor      4435 non-null   object
 6   nm_uor_rdz  4435 non-null   object
dtypes: object(7)
memory usage: 242.7+ KB

In [18]:
func_dep.duplicated(subset=['cd_func']).any()

np.True_

In [19]:
func_dep.drop_duplicates(subset=['cd_func'], inplace=True)

In [20]:
func_dep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4433 entries, 0 to 4432
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cd_func     4433 non-null   object
 1   nm_func     4433 non-null   object
 2   dt_ingso    4433 non-null   object
 3   area_cmnto  4433 non-null   object
 4   dt_conc     4433 non-null   object
 5   cd_uor      4433 non-null   object
 6   nm_uor_rdz  4433 non-null   object
dtypes: object(7)
memory usage: 277.1+ KB

In [21]:
func_dep.head(10)

,cd_func,nm_func,dt_ingso,area_cmnto,dt_conc,cd_uor,nm_uor_rdz
0,F236548,Sra. Laura Silva,2021-06-03,Ciências Biológicas,2015-10-14,55825,DIREC-CLI. VAR. PF
1,F236549,Henrique Ramos,2020-06-28,Engenharias,2019-03-03,55825,DIREC-CLI. VAR. PF
2,F236550,Marina Lopes,2015-12-08,Ciências da Saúde,2009-10-08,55825,DIREC-CLI. VAR. PF
3,F236551,Dra. Laura Dias,2019-03-20,Ciências Biológicas,2017-12-07,55825,DIREC-CLI. VAR. PF
4,F236552,Pietra Aragão,2022-11-06,Ciências Sociais Aplicadas,2014-07-01,55825,DIREC-CLI. VAR. PF
5,F236553,Lucas Gabriel Araújo,2015-12-15,Engenharias,2012-03-25,55825,DIREC-CLI. VAR. PF
6,F236554,Vitor da Cunha,2021-05-02,Ciências da Saúde,2010-01-01,55825,DIREC-CLI. VAR. PF
7,F236555,Samuel Barros,2014-12-31,Engenharias,2010-12-28,55825,DIREC-CLI. VAR. PF
8,F236556,Fernanda Teixeira,2023-07-03,Ciências Humanas,2014-03-19,55825,DIREC-CLI. VAR. PF
9,F236557,Vinicius Nogueira,2020-01-23,Ciências Humanas,2010-11-08,55825,DIREC-CLI. VAR. PF

In [24]:
func_dep["dt_ingso"] = pd.to_datetime(func_dep["dt_ingso"])
func_dep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4433 entries, 0 to 4432
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cd_func     4433 non-null   object
 1   nm_func     4433 non-null   object
 2   dt_ingso    4433 non-null   datetime64[ns]
 3   area_cmnto  4433 non-null   object
 4   dt_conc     4433 non-null   object
 5   cd_uor      4433 non-null   object
 6   nm_uor_rdz  4433 non-null   object
dtypes: datetime64[ns](1), object(6)
memory usage: 277.1+ KB

In [27]:
func_dep["dt_conc"] = pd.to_datetime(func_dep["dt_conc"])
func_dep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4433 entries, 0 to 4432
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cd_func     4433 non-null   object
 1   nm_func     4433 non-null   object
 2   dt_ingso    4433 non-null   datetime64[ns]
 3   area_cmnto  4433 non-null   object
 4   dt_conc     4433 non-null   datetime64[ns]
 5   cd_uor      4433 non-null   object
 6   nm_uor_rdz  4433 non-null   object
dtypes: datetime64[ns](2), object(5)
memory usage: 277.1+ KB

In [30]:
func_dep["cd_uor"] = func_dep["cd_uor"].astype(int)
func_dep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4433 entries, 0 to 4432
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cd_func     4433 non-null   object
 1   nm_func     4433 non-null   object
 2   dt_ingso    4433 non-null   datetime64[ns]
 3   area_cmnto  4433 non-null   object
 4   dt_conc     4433 non-null   datetime64[ns]
 5   cd_uor      4433 non-null   int64
 6   nm_uor_rdz  4433 non-null   object
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 277.1+ KB

In [31]:
func_dep["cd_func"] = func_dep["cd_func"].astype(int)
func_dep.info()

ValueError: invalid literal for int() with base 10: 'F236548'

In [32]:
func_dep['cd_func'] = func_dep['cd_func'].str[1:]
func_dep.head(10)

,cd_func,nm_func,dt_ingso,area_cmnto,dt_conc,cd_uor,nm_uor_rdz
0,236548,Sra. Laura Silva,2021-06-03,Ciências Biológicas,2015-10-14,55825,DIREC-CLI. VAR. PF
1,236549,Henrique Ramos,2020-06-28,Engenharias,2019-03-03,55825,DIREC-CLI. VAR. PF
2,236550,Marina Lopes,2015-12-08,Ciências da Saúde,2009-10-08,55825,DIREC-CLI. VAR. PF
3,236551,Dra. Laura Dias,2019-03-20,Ciências Biológicas,2017-12-07,55825,DIREC-CLI. VAR. PF
4,236552,Pietra Aragão,2022-11-06,Ciências Sociais Aplicadas,2014-07-01,55825,DIREC-CLI. VAR. PF
5,236553,Lucas Gabriel Araújo,2015-12-15,Engenharias,2012-03-25,55825,DIREC-CLI. VAR. PF
6,236554,Vitor da Cunha,2021-05-02,Ciências da Saúde,2010-01-01,55825,DIREC-CLI. VAR. PF
7,236555,Samuel Barros,2014-12-31,Engenharias,2010-12-28,55825,DIREC-CLI. VAR. PF
8,236556,Fernanda Teixeira,2023-07-03,Ciências Humanas,2014-03-19,55825,DIREC-CLI. VAR. PF
9,236557,Vinicius Nogueira,2020-01-23,Ciências Humanas,2010-11-08,55825,DIREC-CLI. VAR. PF

In [33]:
func_dep["cd_func"] = func_dep["cd_func"].astype(int)
func_dep.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4433 entries, 0 to 4432
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   cd_func     4433 non-null   int64
 1   nm_func     4433 non-null   object
 2   dt_ingso    4433 non-null   datetime64[ns]
 3   area_cmnto  4433 non-null   object
 4   dt_conc     4433 non-null   datetime64[ns]
 5   cd_uor      4433 non-null   int64
 6   nm_uor_rdz  4433 non-null   object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 277.1+ KB

In [34]:
func_dep.columns = ['NR_MTC_FUN', 'NM_FUN', 'DT_PSSE_BB', 'TX_AREA_CNH', 'DT_FIM_CSO', 'CD_UOR_FUN', 'NM_UOR_RDZ']
func_dep.head(10)

,NR_MTC_FUN,NM_FUN,DT_PSSE_BB,TX_AREA_CNH,DT_FIM_CSO,CD_UOR_FUN,NM_UOR_RDZ
0,236548,Sra. Laura Silva,2021-06-03,Ciências Biológicas,2015-10-14,55825,DIREC-CLI. VAR. PF
1,236549,Henrique Ramos,2020-06-28,Engenharias,2019-03-03,55825,DIREC-CLI. VAR. PF
2,236550,Marina Lopes,2015-12-08,Ciências da Saúde,2009-10-08,55825,DIREC-CLI. VAR. PF
3,236551,Dra. Laura Dias,2019-03-20,Ciências Biológicas,2017-12-07,55825,DIREC-CLI. VAR. PF
4,236552,Pietra Aragão,2022-11-06,Ciências Sociais Aplicadas,2014-07-01,55825,DIREC-CLI. VAR. PF
5,236553,Lucas Gabriel Araújo,2015-12-15,Engenharias,2012-03-25,55825,DIREC-CLI. VAR. PF
6,236554,Vitor da Cunha,2021-05-02,Ciências da Saúde,2010-01-01,55825,DIREC-CLI. VAR. PF
7,236555,Samuel Barros,2014-12-31,Engenharias,2010-12-28,55825,DIREC-CLI. VAR. PF
8,236556,Fernanda Teixeira,2023-07-03,Ciências Humanas,2014-03-19,55825,DIREC-CLI. VAR. PF
9,236557,Vinicius Nogueira,2020-01-23,Ciências Humanas,2010-11-08,55825,DIREC-CLI. VAR. PF

In [35]:
FUN_DEPE = func_dep
FUN_DEPE.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4433 entries, 0 to 4432
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NR_MTC_FUN   4433 non-null   int64
 1   NM_FUN       4433 non-null   object
 2   DT_PSSE_BB   4433 non-null   datetime64[ns]
 3   TX_AREA_CNH  4433 non-null   object
 4   DT_FIM_CSO   4433 non-null   datetime64[ns]
 5   CD_UOR_FUN   4433 non-null   int64
 6   NM_UOR_RDZ   4433 non-null   object
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 277.1+ KB

In [36]:
FUN_DEPE.head(10)

,NR_MTC_FUN,NM_FUN,DT_PSSE_BB,TX_AREA_CNH,DT_FIM_CSO,CD_UOR_FUN,NM_UOR_RDZ
0,236548,Sra. Laura Silva,2021-06-03,Ciências Biológicas,2015-10-14,55825,DIREC-CLI. VAR. PF
1,236549,Henrique Ramos,2020-06-28,Engenharias,2019-03-03,55825,DIREC-CLI. VAR. PF
2,236550,Marina Lopes,2015-12-08,Ciências da Saúde,2009-10-08,55825,DIREC-CLI. VAR. PF
3,236551,Dra. Laura Dias,2019-03-20,Ciências Biológicas,2017-12-07,55825,DIREC-CLI. VAR. PF
4,236552,Pietra Aragão,2022-11-06,Ciências Sociais Aplicadas,2014-07-01,55825,DIREC-CLI. VAR. PF
5,236553,Lucas Gabriel Araújo,2015-12-15,Engenharias,2012-03-25,55825,DIREC-CLI. VAR. PF
6,236554,Vitor da Cunha,2021-05-02,Ciências da Saúde,2010-01-01,55825,DIREC-CLI. VAR. PF
7,236555,Samuel Barros,2014-12-31,Engenharias,2010-12-28,55825,DIREC-CLI. VAR. PF
8,236556,Fernanda Teixeira,2023-07-03,Ciências Humanas,2014-03-19,55825,DIREC-CLI. VAR. PF
9,236557,Vinicius Nogueira,2020-01-23,Ciências Humanas,2010-11-08,55825,DIREC-CLI. VAR. PF

In [37]:
FUN_DEPE.to_csv('FUN_DEPE.csv', sep=';', index=False)